.hacDev-signup-banner {
    color: var(--pf-global--Color--light-100);
    background: url(/assets/imgs/banner-background.svg);
    background-color: var(--pf-global--BackgroundColor--dark-100);
    background-size: cover !important;
}