.application-environment-cards {
  &__env-arrow {
    color: var(--pf-global--secondary-color--100);
    font-size: var(--pf-global--FontSize--sm);
  }
  &__card {
    min-width: 234px;
    &.pf-c-card.pf-m-compact {
      --pf-c-card--child--PaddingBottom: var(--pf-global--spacer--sm);
    }
  }
}

