.environment-list {
  &_card .pf-c-card {
    height: 100%;

    .pf-c-card__title {
      overflow-x: hidden;
      white-space: nowrap;
    }
  }
  &__card-title {
    overflow-x: hidden;
    text-overflow: ellipsis;
    margin-bottom: var(--pf-global--spacer--xs);
  }
}
