@import '~@patternfly/patternfly/sass-utilities/all';

.table .pf-v5-c-window-scroller.ReactVirtualized__VirtualGrid,
.table .pf-v5-c-window-scroller .ReactVirtualized__VirtualGrid,
.table .pf-v5-c-window-scroller .ReactVirtualized__VirtualGrid__innerScrollContainer {
  overflow: visible !important;
}

.table .pf-v5-c-table .wrap-column {
  overflow-wrap: anywhere;
}

.table .pf-v5-c-table tr > th {
  max-width: unset;
}

.table .pf-v5-c-table tr {
  display: flex;
  align-items: flex-start;
}

.table .pf-v5-c-table .pf-v5-c-table__action {
  --pf-v5-c-table--cell--MinWidth: 0;
  --pf-v5-c-table--cell--MaxWidth: none;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 0 !important;
}

@media screen and (min-width: $pf-v5-global--breakpoint--md) {
  .table .pf-v5-c-table .pf-m-width-10-on-md {
    --pf-v5-c-table--cell--Width: 10% !important;
  }

  .table .pf-v5-c-table .pf-m-width-15-on-md {
    --pf-v5-c-table--cell--Width: 15% !important;
  }

  .table .pf-v5-c-table .pf-m-width-20-on-md {
    --pf-v5-c-table--cell--Width: 20% !important;
  }

  .table .pf-v5-c-table .pf-m-width-25-on-md {
    --pf-v5-c-table--cell--Width: 25% !important;
  }

  .table .pf-v5-c-table .pf-m-width-30-on-md {
    --pf-v5-c-table--cell--Width: 30% !important;
  }

  .table .pf-v5-c-table .pf-m-width-35-on-md {
    --pf-v5-c-table--cell--Width: 35% !important;
  }

  .table .pf-v5-c-table .pf-m-width-40-on-md {
    --pf-v5-c-table--cell--Width: 40% !important;
  }

  .table .pf-v5-c-table .pf-m-width-45-on-md {
    --pf-v5-c-table--cell--Width: 45% !important;
  }

  .table .pf-v5-c-table .pf-m-width-50-on-md {
    --pf-v5-c-table--cell--Width: 50% !important;
  }

  .table .pf-v5-c-table .pf-m-width-60-on-md {
    --pf-v5-c-table--cell--Width: 60% !important;
  }

  .table .pf-v5-c-table .pf-m-width-70-on-md {
    --pf-v5-c-table--cell--Width: 70% !important;
  }

  .table .pf-v5-c-table .pf-m-width-80-on-md {
    --pf-v5-c-table--cell--Width: 80% !important;
  }

  .table .pf-v5-c-table .pf-m-width-90-on-md {
    --pf-v5-c-table--cell--Width: 90% !important;
  }

  .table .pf-v5-c-table .pf-m-width-100-on-md {
    --pf-v5-c-table--cell--Width: 100% !important;
  }
}
@media screen and (min-width: $pf-v5-global--breakpoint--lg) {
  .table .pf-v5-c-table .pf-m-width-10-on-lg {
    --pf-v5-c-table--cell--Width: 10% !important;
  }

  .table .pf-v5-c-table .pf-m-width-15-on-lg {
    --pf-v5-c-table--cell--Width: 15% !important;
  }

  .table .pf-v5-c-table .pf-m-width-20-on-lg {
    --pf-v5-c-table--cell--Width: 20% !important;
  }

  .table .pf-v5-c-table .pf-m-width-25-on-lg {
    --pf-v5-c-table--cell--Width: 25% !important;
  }

  .table .pf-v5-c-table .pf-m-width-30-on-lg {
    --pf-v5-c-table--cell--Width: 30% !important;
  }

  .table .pf-v5-c-table .pf-m-width-35-on-lg {
    --pf-v5-c-table--cell--Width: 35% !important;
  }

  .table .pf-v5-c-table .pf-m-width-40-on-lg {
    --pf-v5-c-table--cell--Width: 40% !important;
  }

  .table .pf-v5-c-table .pf-m-width-45-on-lg {
    --pf-v5-c-table--cell--Width: 45% !important;
  }

  .table .pf-v5-c-table .pf-m-width-50-on-lg {
    --pf-v5-c-table--cell--Width: 50% !important;
  }

  .table .pf-v5-c-table .pf-m-width-60-on-lg {
    --pf-v5-c-table--cell--Width: 60% !important;
  }

  .table .pf-v5-c-table .pf-m-width-70-on-lg {
    --pf-v5-c-table--cell--Width: 70% !important;
  }

  .table .pf-v5-c-table .pf-m-width-80-on-lg {
    --pf-v5-c-table--cell--Width: 80% !important;
  }

  .table .pf-v5-c-table .pf-m-width-90-on-lg {
    --pf-v5-c-table--cell--Width: 90% !important;
  }

  .table .pf-v5-c-table .pf-m-width-100-on-lg {
    --pf-v5-c-table--cell--Width: 100% !important;
  }
}
@media screen and (min-width: $pf-v5-global--breakpoint--xl) {
  .table .pf-v5-c-table .pf-m-width-10-on-xl {
    --pf-v5-c-table--cell--Width: 10% !important;
  }

  .table .pf-v5-c-table .pf-m-width-15-on-xl {
    --pf-v5-c-table--cell--Width: 15% !important;
  }

  .table .pf-v5-c-table .pf-m-width-20-on-xl {
    --pf-v5-c-table--cell--Width: 20% !important;
  }

  .table .pf-v5-c-table .pf-m-width-25-on-xl {
    --pf-v5-c-table--cell--Width: 25% !important;
  }

  .table .pf-v5-c-table .pf-m-width-30-on-xl {
    --pf-v5-c-table--cell--Width: 30% !important;
  }

  .table .pf-v5-c-table .pf-m-width-35-on-xl {
    --pf-v5-c-table--cell--Width: 35% !important;
  }

  .table .pf-v5-c-table .pf-m-width-40-on-xl {
    --pf-v5-c-table--cell--Width: 40% !important;
  }

  .table .pf-v5-c-table .pf-m-width-45-on-xl {
    --pf-v5-c-table--cell--Width: 45% !important;
  }

  .table .pf-v5-c-table .pf-m-width-50-on-xl {
    --pf-v5-c-table--cell--Width: 50% !important;
  }

  .table .pf-v5-c-table .pf-m-width-60-on-xl {
    --pf-v5-c-table--cell--Width: 60% !important;
  }

  .table .pf-v5-c-table .pf-m-width-70-on-xl {
    --pf-v5-c-table--cell--Width: 70% !important;
  }

  .table .pf-v5-c-table .pf-m-width-80-on-xl {
    --pf-v5-c-table--cell--Width: 80% !important;
  }

  .table .pf-v5-c-table .pf-m-width-90-on-xl {
    --pf-v5-c-table--cell--Width: 90% !important;
  }

  .table .pf-v5-c-table .pf-m-width-100-on-xl {
    --pf-v5-c-table--cell--Width: 100% !important;
  }
}

.table-skeleton {
  display: flex;
  flex-direction: column;
  gap: var(--pf-v5-global--spacer--md);
}
