@use 'sass:math';

$co-external-link-padding-right: 15px;

.hacDev-m-pane__body {
  margin: $grid-gutter-width 0 0;
  padding: 0 math.div($grid-gutter-width, 2) $grid-gutter-width;
  @media (min-width: $screen-sm-min) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
  &--full-height {
    height: 100%;
  }
  &--no-top-margin {
    margin-top: 0;
  }
  &--section-heading {
    padding-bottom: 0;
  }
  + .hacDev-m-pane__body {
    border-top: 1px solid $color-grey-background-border;
    margin-top: 0;
    padding-top: $grid-gutter-width;
  }
}

.hacDev-m-pane__heading {
  display: flex;
  justify-content: space-between;
  margin: 0 0 $grid-gutter-width;
  &--baseline {
    align-items: baseline;
  }
  &--center {
    justify-content: center;
  }
  &--logo {
    align-items: center;
    margin-bottom: math.div($grid-gutter-width, 2);
  }
}

.hacDev-section-heading {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.hacDev-m-loader {
  min-width: 18px;
}

.hacDev-m-loader-dot__one,
.hacDev-m-loader-dot__two,
.hacDev-m-loader-dot__three {
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: bouncedelay;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  background: #419eda;
  border-radius: 100%;
  display: inline-block;
  height: 6px;
  width: 6px;
}

.hacDev-m-loader-dot__one {
  animation-delay: -0.32s;
}

.hacDev-m-loader-dot__two {
  animation-delay: -0.16s;
}

.hacDev-toolbar__group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 0;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    justify-content: flex-end;
  }
}

.hacDev-toolbar__group--left {
  justify-content: flex-start;
  .hacDev-toolbar__item {
    padding-right: 15px;
  }
  @media (max-width: $screen-xs-max) {
    align-items: flex-start;
  }
}

.hacDev-icon-and-text {
  align-items: baseline;
  display: inline-block;

  &__icon {
    flex-shrink: 0;
    margin-right: 5px;
  }
}

.hacDev-nowrap {
  white-space: nowrap;
}
