html,
body,
#app,
.pf-c-drawer {
  height: 100%;
}

#app,
#content {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.hacDev-m-page__body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.hacDev-m-app__content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%; // doesn't work on safari without height
}
