@import '~@patternfly/patternfly/sass-utilities/colors';

$color-grey-background-border: #ccc;
$grid-gutter-width: 30px !default;
$font-size-base: 14px;
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$grid-gutter-width: 30px !default;
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$catalog-tile-width: 260px;
$color-text-muted: var(--pf-v5-global--palette--black-600);
