.hacDev-catalog-tile {
  height: 100%;
  width: 260px;
  color: black;
  
  > .catalog-tile-pf-body {
    display: flex;
    flex-direction: column;

    > .catalog-tile-pf-description {
      flex: 1 1 auto;
    }
  }
}


