.environment-list-item {
  &__details {
    margin-left: 72px;
  }
  &__breadcrumb-link {
    color: var(--pf-global--secondary-color--100);
    font-size: var(--pf-c-breadcrumb__item--FontSize);
    .pf-c-label {
      font-size: 12px;
    }
    .pf-c-label__icon {
      color: var(--pf-global--primary-color--100);
    }
  }
}
