.application-environment-details  {
  display: flex;
  flex-direction: column;
  padding: 0;

  &__section {
    display: flex;
    flex-direction: column;
    padding-top: 0;

    .pf-topology-visualization-surface {
      background-color: var(--pf-global--Color--light-300);
    }
  }
  &__panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 0;
    .pf-c-tab-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow-y: auto;
    }
  }
  &__toolbar {
    border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
  }
  .pf-c-data-list {
    height: 100%;
    width: 100%;
  }

  .pf-c-drawer__panel {
    border-top: solid var(--pf-c-drawer__splitter--after--BorderColor);
    border-top-width: var(--pf-global--BorderWidth--sm);
  }
  &__header-info {
    background-color: var(--pf-c-page__main-section--m-light--BackgroundColor);
    padding: 0 var(--pf-global--spacer--md) 0 var(--pf-global--spacer--md);
    &-item {
      border-left: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
      padding-left: var(--pf-global--spacer--md);
      &:first-of-type {
        border-left: 0;
        padding-left: 0;
      }
    }
  }
  &__health-status {
    text-transform: lowercase;
  }
  &__topology-view {
    .pf-topology-control-bar {
      top: var(--pf-global--spacer--md);
      bottom: initial;
    }
  }
  &__list-view {
    border-top: 0;
  }
}

