.hacDev {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  // TODO work around to https://issues.redhat.com/browse/RHCLOUD-24606
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .main-layout-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
  }
}
