:9000 {
    metrics /metrics
  }
  
  :8000 {
    log

    # Setup the regex for a plugins match
    @plugins_match {
        path_regexp /api/plugins/hac-dev(.*)
    }
    handle @plugins_match {
        # Substitution for alias from nginx
        uri strip_prefix /api/plugins/hac-dev
        file_server * {
            root /opt/app-root/src/dist 
            browse
        }
    }

    # Setup the regex for a app match
    @app_match {
        path_regexp /apps/hac-dev(.*)
    }
    handle @app_match {
        # Substitution for alias from nginx
        uri strip_prefix /apps/hac-dev
        file_server * {
            root /opt/app-root/src/dist 
            browse
        }
    }

    handle / {
        redir /apps/chrome/index.html permanent
    }
}
