@import '../../style/vars';
@import '../../style/common';

.status-box {
  padding: 40px 20px;

  &__title {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;

    .cos-error-title {
      color: var(--pf-v5-global--palette--red-100);
    }
  }

  &__detail {
    color: $color-text-muted;
    font-size: $font-size-base;
    max-width: 500px;
    margin: 0 auto;
  }

  &__access-denied-icon {
    margin: 10px;
  }

  &__loading-message {
    margin-top: var(--pf-v5-global--spacer--sm);
  }
}

.status-box--loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 50px;
  width: 100%;
  flex-direction: column;
}

.loader--inline {
  display: inline-block;
  margin: 0;
  position: static;
}

.timeout-error {
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

.loading-box {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
