.permissions-table {
  @media (min-width: 769px) {
    max-width: 740px;
  }

  @media (min-width: 992px) {
    min-width: 740px;
  }

  @media (min-width: 1200px) {
    max-width: 60%;
  }

  border: var(--pf-v5-c-table--border-width--base) solid var(--pf-v5-c-table--BorderColor);
}
