.build-log-viewer {
  height: 70%;
  display: flex;
  flex-direction: column;
  .pf-v5-c-modal-box__body {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--pf-v5-global--spacer--lg);
    margin-right: 0;
  }
  &__title {
    margin-right: var(--pf-v5-global--spacer--xl);
    display: flex;
    flex-wrap: wrap;
    gap: var(--pf-v5-global--spacer--sm);
  }
  &__body {
    flex: 1;
    position: relative;
  }
}
