.workload-node__tooltip {
  display: flex;
  flex-direction: column;
  gap: var(--pf-global--spacer--md);
  text-align: left;
  padding: var(--pf-global--spacer--md);

  &-title {
    font-size: var(--pf-global--icon--FontSize--md);
  }

  &-status {
    &-area {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: var(--pf-global--spacer--md);
      row-gap: var(--pf-global--spacer--sm);
      .pf-topology-pipelines__status-icon.pf-m-spin {
        > svg {
          filter: blur(0);
          -webkit-filter: blur(0);
          transform-box: fill-box;
          transform-origin: center;
          animation: status-spin 2s infinite linear;
        }
      }
    }
  }
  &-links {
    display: flex;
    gap: var(--pf-global--spacer--md);
  }
}
