.app-details {
  flex-grow: 1;

  &__tabs {
    display: flex;
    flex-direction: column;

    &__tabItem {
      position: relative;
      &.isFilled.pf-c-tab-content {
        flex: 1;
      }
    }
  }
}
