.source-section {
  --pf-u-min-width--MinWidth: 100%;
  --pf-u-min-width--MinWidth-on-sm: 40ch;
  --pf-u-min-width--MinWidth-on-md: 50ch;
  --pf-u-min-width--MinWidth-on-lg: 60ch;
  --pf-u-min-width--MinWidth-on-xl: 70ch;
}
