.hacDev-field-level-help {
  margin-left: 5px;

  .hacDev-field-level-help__icon {
    color: var(--pf-global--Color--dark-200);
    font-size: 12px;
  }

  &:hover .hacDev-field-level-help__icon {
    color: var(--pf-global--Color--dark-100);
  }
}
