.field-level-help {
  margin-left: 5px;

  &__icon {
    color: var(--pf-global--Color--dark-200);
    font-size: 12px;
  }

  &:hover .field-level-help__icon {
    color: var(--pf-global--Color--dark-100);
  }
}
