@import '~@patternfly/patternfly/sass-utilities/all';

.opaque-secret-modal {
      width: 40%;

      @media screen and (max-width: $pf-global--breakpoint--xl) {
        width: 60%;
      }
      
      @media screen and (max-width: $pf-global--breakpoint--md) {
        width: 100%;
      }
  }