@import '~@patternfly/patternfly/sass-utilities/all';

.build-secret-modal {
  width: 40%;

  @media screen and (max-width: $pf-v5-global--breakpoint--xl) {
    width: 60%;
  }

  @media screen and (max-width: $pf-v5-global--breakpoint--md) {
    width: 100%;
  }
}
