.workload-node__tooltip {
  display: flex;
  flex-direction: column;
  gap: var(--pf-v5-global--spacer--md);
  text-align: left;
  padding-top: var(--pf-v5-global--spacer--md);
  padding-bottom: var(--pf-v5-global--spacer--md);
  padding-left: var(--pf-v5-global--spacer--md);
  max-height: 600px;

  &-title {
    font-size: var(--pf-v5-global--icon--FontSize--md);
    padding-right: var(--pf-v5-global--spacer--md);
  }
  &-description {
    padding-right: var(--pf-v5-global--spacer--md);
  }

  &-status {
    &-area {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: var(--pf-v5-global--spacer--md);
      row-gap: var(--pf-v5-global--spacer--sm);
      overflow-y: auto;
      padding-right: var(--pf-v5-global--spacer--md);

      .pf-topology-pipelines__status-icon.pf-m-spin {
        > svg {
          filter: blur(0);
          -webkit-filter: blur(0);
          transform-box: fill-box;
          transform-origin: center;
          animation: status-spin 2s infinite linear;
        }
      }
    }
  }
  &-links {
    display: flex;
    gap: var(--pf-v5-global--spacer--md);
    padding-right: var(--pf-v5-global--spacer--md);
  }
}
