.workload-node, .commit-node {
  cursor: pointer;
  &.m-disabled {
    > .pf-topology-pipelines__pill-background {
      fill: var(--pf-global--BackgroundColor--200);
    }
    .pf-topology-pipelines__pill-text {
      fill: var(--pf-global--disabled-color--100);
    }
  }
  &__popover {
    .pf-c-popover__content, .pf-c-popover__body {
      padding: 0;
    }
  }
}
.commit-node {
  cursor: default;
}