.review-component-card {

  &__card-body {

    margin-left: var(--pf-v5-global--spacer--lg);
  }
  &__limits {
    display: grid;
    gap: var(--pf-v5-global--spacer--md);
    grid-template-columns: auto;
    justify-content: start;
    @media (min-width: 600px) {
      grid-template-columns: auto auto;
    }
    @media (min-width: 769px) {
      grid-template-columns: auto auto auto;
    }
    .resource-limit-field {
      max-width: 270px;
    }
  }
}
