.intro-banner {
  background: url(/src/imgs/overview/Rectangle.svg);
  background-size: cover;

  &__content {
    background-color: transparent;
  }

  &__image {
    background: url(/src/imgs/overview/overview-banner.svg);
    background-size: cover;
  }

  &__cta {
    margin-top: var(--pf-v5-global--spacer--sm);
    margin-right: var(--pf-v5-global--spacer--md);

    & + &__cta {
      margin-right: none;
    }
  }
}
