.release-policy-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
  &:first-of-type {
    border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
  }
  &__list {
    border: 0;
  }
  &__package {
    --pf-c-data-list__expandable-content--BorderTopWidth: 0;
    --pf-c-data-list__expandable-content-body--PaddingTop: 0;
    --pf-c-data-list__item-control--MarginRight: var(--pf-global--spacer--sm);
    border: 0;
    height: 100%;
    &-details {
      margin-left: var(--pf-global--spacer--3xl);
    }
    &-annotation-link {
      width: fit-content;
    }
  }
  &__description {
    padding: var(--pf-global--spacer--lg) 0;
  }
}
