.hacDev-catalog-page {
  &__overlay {
    border: 0 !important; // Collapse default PF4 modal border-width

    .properties-side-panel-pf {
      flex: 0 0 auto;
    }
    &.pf-c-modal-box {
      @media screen and (min-width: $screen-sm) {
        --pf-c-modal-box--Width: 600px;
      }
    
      @media screen and (min-width: $screen-md) {
        --pf-c-modal-box--Width: 900px;
      }
    }
  }

  &__overlay--right {
    bottom: 0;
    padding: 0 !important;
    right: 0;
    top: 4.75rem; // --pf-c-page__header--MinHeight

    .pf-c-modal-box {
      --pf-c-modal-box__body--PaddingTop: 0 !important;
      --pf-c-modal-box__body--PaddingRight: 0 !important;
      --pf-c-modal-box__body--PaddingLeft: 0 !important;
      --pf-c-modal-box__body--last-child--PaddingBottom: 0 !important;
    }

    .pf-c-modal-box__body {
      // Required to position scroll shadows correctly on Chrome
      display: flex;
      flex-direction: column;
      margin: 0 !important;
    }

    .modal-body-inner-shadow-covers {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    h1 {
      white-space: normal;
    }
  }

  &__overlay-action {
    align-items: baseline;
    display: inline-flex !important;
    margin: var(--pf-global--spacer--sm) var(--pf-global--spacer--sm) 0 0;
    overflow-x: hidden;
  }

  &__overlay-actions {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--pf-global--spacer--md);
    white-space: normal;
  }

  &__overlay-header {
    margin-bottom: var(--pf-global--spacer--md);
  }
}
