.hacDev-page {
  background-color: var(--pf-global--BackgroundColor--100);
  height: 100%;

  &__breadcrumb {
    margin-bottom: var(--pf-global--spacer--md);
  }

  &__heading {
    margin-bottom: var(--pf-global--spacer--sm);
  }

  &__description {
    margin-bottom: var(--pf-global--spacer--lg);
  }

  &__section {
    padding: var(--pf-global--spacer--xs) var(--pf-global--spacer--md);
  }

  &__custom-button {
    margin-top: var(--pf-global--spacer--xs);
    margin-bottom: var(--pf-global--spacer--sm);
  }
}
