.hacDev-form-footer {
  padding: var(--pf-global--spacer--md) (--pf-global--gutter/2);
  @media (min-width: 768px) {
    padding: var(--pf-global--spacer--md) (--pf-global--gutter);
  }
  &__sticky {
    position: sticky;
    background: var(--pf-global--palette--white);
    bottom: 0;
  }
  &__shadow {
    box-shadow: var(--pf-global--BoxShadow--sm-top);
  }
}
